* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  background-color: grey;
  overflow: hidden;
}
.topnav a {
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  color: azure;
  padding: 16px;
  float: left;
  cursor: pointer;
}
.topnav a:hover {
  background-color: aqua;
  color: black;
}
i {
  margin: 5px;
}
.topnav a.active {
  background-color: brown;
  color: black;
}
@media screen and (max-width: 500px) {
  .topnav a {
    display: block;
    float: none;
  }
}
