.one {
  border-radius: 5px;
  padding: 14px 24px;
  background-color: grey;
  position: absolute;
  color: white;
  text-align: center;
  display: inline-block;
}
.bage {
  border-radius: 50%;
  background-color: red;
  position: relative;
  top: -20px;
  left: 14px;
  padding: 10px 12px;
  color: black;
}
.one:hover {
  background-color: aquamarine;
}
.bage:hover {
  background-color: black;
  color: azure;
}
